__pycache__/
.ipynb_checkpoints
*.py[cod]
*$py.class
*.log
*.grib2
env_pypi.yml

sandbox/
sandbox.ipynb
sandbox*

.coverage

dist/*
build/*
*.egg-info
MANIFEST
.eggs/
core.*

docs/_build/

_version.py
.gitpod.yml

.DS_Store
node_modules
dev
app

# Sample files and data
sample_*
sample_ascii_for_met.txt
