<footer class="text-bg-light border-top">
  <div
    class="container py-4 d-flex flex-wrap align-items-center justify-content-between gap-4"
  >
    <div class="d-flex flex-wrap align-items-center">
      <div class="pe-2">
        &copy; Brian Blaylock, {{ global.year }}
      </div>
      <a
        class="btn btn-light"
        href="https://github.com/blaylockbk/SynopticPy"
        target="_blank"
        ><i class="fa-brands fa-github"></i> SynopticPy</a
      >
      <a
        class="btn btn-light"
        href="https://github.com/blaylockbk/SynopticPy/issues"
        target="_blank"
        >Submit Issue</a
      >
      <a
        class="btn btn-light"
        href="https://github.com/blaylockbk/SynopticPy/discussions"
        target="_blank"
        >Ask Question</a
      >
    </div>
    
    <div class="d-flex align-items-center">
      <div class="pe-2">Related Projects:</div>
      <a
        href="https://github.com/blaylockbk/Herbie"
        target="_blank"
        class="btn btn-light"
        >🏁 Herbie</a
      >
      <a
        href="https://github.com/blaylockbk/goes2go"
        target="_blank"
        class="btn btn-light"
        >🌎 GOES-2-go</a
      >
    </div>
  </div>
</footer>
