<footer class="text-bg-light border-top">
  <div
    class="container py-4 d-flex align-items-center justify-content-between gap-4"
  >
    <div class="d-flex align-items-center gap-2 lead">
      <strong>Related Projects:</strong>
      <a
        href="https://github.com/blaylockbk/Herbie"
        target="_blank"
        class="btn btn-light btn-sm"
        >🏁 Herbie</a
      >
      <a
        href="https://github.com/blaylockbk/goes2go"
        target="_blank"
        class="btn btn-light btn-sm"
        >🌎 GOES-2-go</a
      >
    </div>
    <div>
      <div>&copy; Brian Blaylock, {{ global.year }}</div>
      {#
      <div>Last Updated: {{ global.renderedDate }}</div>
      #}
    </div>
  </div>
</footer>
