{# PyScript #}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />

<!-- Comment this line to turn off loading pyscript (only render page) -->
<!--  -->
<!--  -->
{# <script defer src="https://pyscript.net/latest/pyscript.js"></script> #}
<!--  -->
<!--  -->
<!--  -->