<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  README
</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Meteogram README
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          This app gets data from the Synoptic Mesonet API, reads it with
          Pandas, and plots a timeseries of the data with matplotlib. This is
          all done in your browser powered by
          <a href="https://pyscript.net/">pyscript</a>. The primary use of this
          app is to plot a timeseries of data from multiple stations in a single
          plot.
        </p>

        <h5 class="mt-4">Token</h5>
        <div>
          <p>
            You may insert your own
            <a
              href="https://developers.synopticdata.com/mesonet/v2/getting-started/"
              target="_blank"
              >Synoptic API token</a
            >
            below. If left blank, you will use one of my free-tier tokens
            <i
              >which may be limited if more than 4+ people are using this page
              at the same time</i
            >. Using your own token prevents running into this problem and gives
            you access to features you may have for your account.
          </p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="token">Token</span>
            <input
              type="text"
              id="tokenInput"
              class="form-control"
              placeholder="Synoptic API Token"
            />
          </div>
        </div>

        <div class="accordion" id="meteogram-readme-accordion">
          {# Stations #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-stations"
                aria-controls="ma-stations"
                aria-expanded="false"
              >
                Stations
              </button>
            </h2>
            <div
              id="ma-stations"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>
                  A comma-separated list of station IDs, e.g.
                  <kbd>PSRIM,PSINK</kbd>. If you don't know the station ID, you
                  can search on
                  <a href="https://mesowest.utah.edu/" target="_blank"
                    >Mesowest</a
                  >.
                </p>

                <h5>Backdoor: Advanced Station Selector</h5>
                <div>
                  <p>
                    With some knowledge of the Synoptic Mesonet API, you can
                    make more complex station queries. Instead of a list of
                    stations, you can instead provide
                    <a
                      target="_blank"
                      href="https://developers.synopticdata.com/mesonet/v2/stations/timeseries/"
                      >station selection parameters</a
                    >
                    to refine your station selection. This is inerted in the API
                    request, so you need to separate each argument with a
                    <code>&</code>. For example:
                  </p>
                  <ul class="spaced-list">
                    <li>
                      <kbd>radius=wbb,5</kbd> All stations within a 5 mile
                      radius of <code>WBB</code>.
                    </li>
                    <li>
                      <kbd>radius=wbb,5&limit=10</kbd>
                      <code>10</code> stations nearest <code>WBB</code> within a
                      <code>5</code> mile radius.
                    </li>
                    <li>
                      <kbd>radius=WBB,5&limit=10&stid=!MTMET</kbd> Same as
                      above, but exclude the station <code>MTMET</code>.
                    </li>
                    <li>
                      <kbd>radius=WBB,20&network=153</kbd> Stations within
                      <code>20</code> miles of <code>WBB</code> that belong to
                      the <code>UUNET</code> network. (See list of
                      <a
                        href="https://developers.synopticdata.com/about/station-providers/"
                        >network providers</a
                      >.)
                    </li>
                    <li>
                      <kbd>radius=KSLC,40&network=1,2&limit=8</kbd>
                      <code>8</code> stations within <code>40</code> miles of
                      <code>KSLC</code> that belong to the
                      <code>ASOS/AWOS</code> and <code>RAWS</code> networks.
                      (See list of
                      <a
                        href="https://developers.synopticdata.com/about/station-providers/"
                        >network providers</a
                      >.)
                    </li>
                    <li>
                      <kbd>radius=41.5,-120.25,20&limit=10</kbd>
                      <code>10</code> stations within <code>20</code> miles of
                      the
                      <code>latitude,longitude</code>
                      location.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {# Variables #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-collapseTwo"
                aria-expanded="false"
                aria-controls="ma-collapseTwo"
              >
                Variable
              </button>
            </h2>
            <div
              id="ma-collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>Select the variable you wish to plot.</p>
              </div>
            </div>
          </div>
          {# Time #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-collapseThree"
                aria-expanded="false"
                aria-controls="ma-collapseThree"
              >
                Time
              </button>
            </h2>
            <div
              id="ma-collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>There are three ways to specify the plot's time range:</p>
                <ol>
                  <li>
                    "Start at <code>[datetime]</code> and end at
                    <code>[datetime]</code>."
                  </li>
                  <li>
                    "Start at <code>[datetime]</code> and end
                    <code>[timedelta]</code> later."
                  </li>
                  <li>
                    "Start <code>[timedelta]</code> before the end
                    <code>[datetime]</code>."
                  </li>
                </ol>
                <p>
                  <strong>Start Time:</strong> Specify the starting time for the
                  plot. This must be a Pandas-parsable datetime string
                  <kbd>YYYY-MM-DD HH:MM</kbd> <i>or</i> if an End datetime is
                  given, a Pandas-parsable timedelta such as
                  <kbd>30min</kbd> for 30 minutes, <kbd>12H</kbd> for 12 hours,
                  <kbd>3D</kbd> for 3 days.
                </p>

                <p>
                  <strong>End Time:</strong> Specify the ending time for the
                  plot. This must be a Pandas-parsable datetime string
                  <kbd>YYYY-MM-DD HH:MM</kbd> <i>or</i> if a Start datetime is
                  given, a Pandas-parsable timedelta such as
                  <kbd>30min</kbd> for 30 minutes, <kbd>12H</kbd> for 12 hours,
                  <kbd>3D</kbd> for 3 days.
                </p>
              </div>
            </div>
          </div>
          {# Smoother #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-smoother"
                aria-expanded="false"
                aria-controls="ma-smoother"
              >
                Smoother
              </button>
            </h2>
            <div
              id="ma-smoother"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>
                  You can "smooth" the data using two different methods built
                  into Pandas:
                </p>
                <ol>
                  <li>
                    <a
                      href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html"
                      target="_blank"
                      >Resample</a
                    >: Reduces the amount of data points to interval selected by
                    computing a statistic for the time window. This is useful
                    for showing the "daily maximum temperature" for the time
                    period.
                  </li>
                  <li>
                    <a
                      href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html"
                      target="_blank"
                      >Rolling</a
                    >: Returns the same amount of data points but value (i.e.
                    mean, max, min) is computed over a rolling time window.
                  </li>
                </ol>
                <p>
                  Also specify the time window (as a Pandas-parsable timedelta)
                  and the statistic to compute in the time window (e.g. Mean).
                  WARNING: A proper average for wind_direction is not yet
                  implemented.
                </p>
              </div>
            </div>
          </div>
          {# Colors #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-colors"
                aria-expanded="false"
                aria-controls="ma-colors"
              >
              Colors
              </button>
            </h2>
            <div
              id="ma-colors"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>
                  Specify the colors you want each line. Maybe you have lots of
                  stations plotted, but want to highlight only one; you can make that
                  station "red" and the others a shade of grey. Note that colors are
                  reused if there are more stations than colors.
                </p>
              </div>
            </div>
          </div>
          {# Toggles #}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ma-toggles"
                aria-expanded="false"
                aria-controls="ma-toggles"
              >
              Toggles
              </button>
            </h2>
            <div
              id="ma-toggles"
              class="accordion-collapse collapse"
              data-bs-parent="#meteogram-readme-accordion"
            >
              <div class="accordion-body">
                <p>
                  Toggle units to be returned in English or Metric units. Also toggle
                  if time is local or UTC.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
