---
permalink: /app/web/timeseries.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeseries Moved</title>
  </head>
  <body>
    <br /><br />
    <hr />
    We moved the Station Timeseries app to
    <a href="{{ root }}/timeseries">{{ root }}/timeseries</a>. Please update
    your bookmarks accordingly.
    <hr />
  </body>
</html>
