
{# PyScript #}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />

{% if global.allowPyScript and allowPyScript %}
{# 
  If you don't want to load in this script, use 
  npm run dev:site` instead of `npm run dev`
#}
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
{% endif %}
