<div class="container my-4">
  <h1>Welcome to the SynopticPy App!</h1>
  <ul>
    <li><a href="{{root}}/timeseries">Timeseries</a></li>
    <li><a href="{{root}}/meteogram">Meteogram</a></li>
    <li><a href="{{root}}/latest">Latest</a></li>
    <li><a href="{{root}}/windrose">Windrose</a></li>
  </ul>
</div>
